<div class="alert alert-success" role="alert">
  <h4 class="alert-heading"><b>Novetats a la versió {{ version }}</b></h4>
    <h5 class="alert-heading"><b>Errors esmenats/millores:</b></h5>
    <ul>
        <li>
            Afegit camp protocol de georeferenciació a versions de topònims. Aquest camp permet especificar el protocol
            seguit durant la georeferenciació.
        </li>
        <li>
            Afegit enllaços a camps de Darwin Core dels camps que ténen una correspondència amb l'estàndard tant de Topònims
            com de Versions de topònims, com a pas previ a permetre le importació/exportació de i cap a Darwin Core
        </li>
        <li>
            Afegits camps descripció a Tesaures, així com a cada element individual dels tesaures.
        </li>
        <li>
            En filtrar un grup de Topònims des del filtre del llistat de Topònims, es fa zoom al mapa als elements seleccionats.
        </li>
        <li>
            L'esborrat de qualsevol element de l'aplicatiu es restingeix a administradors.
        </li>
        <li>
            Afegit botó de còpia de Versions de topònims. Aquest botó replica els camps d'una versió a una altra per reduïr
            la feina d'edició.
        </li>
        <li>
            S'ha afegit una ajuda visual que destaca al mapa el Topònim seleccionat, tant per clic directe sobre el mapa
            com clicant s'obre la icona de llargavista a la taula de topònims.
        </li>
        <li>
            S'ha afegit una comprovació que llista noms de topònims similars en afegir un Topònim, per evitar en la mida
            del possible afegir accidentalment topònims repetits.
        </li>
    </ul>
</div>
