<div class="alert alert-success" role="alert">
  <h4 class="alert-heading"><b>Novetats a la versió {{ version }}</b></h4>
    <h5 class="alert-heading"><b>Errors esmenats/millores:</b></h5>
    <ul>
        <li>
            Algorisme millorat de càlcul del centroide corregit. L’algorisme parteix del punt de la geometría que
            representa el topònim més proper al centroide, i intenta millorar-lo cercant al voltant d’aquest punt més
            proper si existeix un punt que faci el cercle d’incertesa més petit.
        </li>
    </ul>
</div>
