{% extends "georef/base.html" %}
{% load i18n %}
{% load static %}
{% block extra_css %}
    <link href="{% static 'jquery-ui/themes/base/jquery-ui.min.css' %}" rel="stylesheet">
    <link href="{% static 'georef/css/georef.css' %}" rel="stylesheet">
    <link href="{% static 'jstree/dist/themes/default/style.min.css' %}" rel="stylesheet">
    <link href="{% static 'georef/javascript/tabulator/css/tabulator.min.css' %}" rel="stylesheet">
{% endblock %}
{% block extrahead %}

{% endblock %}
{% block main %}
<main>
    {% csrf_token %}
    <div class="page-header">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'index' %}">{% trans 'Inici' %}</a></li>
                <li class="breadcrumb-item">{% trans 'Utilitats' %}</li>
                <li class="breadcrumb-item active">{% trans 'Edició menú utilitats' %}</li>
            </ol>
        </div>
    </div>
    <div class="container">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% for lang in LANGUAGES %}
        {% if LANGUAGE_CODE == lang.0 %}
            <p><b>{% trans 'Idioma' %}:</b> <span class="badge"> {{ lang.1 }}</span></p>
        {% endif %}
        {% endfor %}
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-2">
                <button id="add" type="button" class="btn btn-primary form-control">{% trans 'Afegir fila' %} <i class="fa fa-plus" aria-hidden="true"></i></button>
            </div>
            <div class="col-xs-2">
                <button id="save" type="button" class="btn btn-success form-control">{% trans 'Desar taula' %} <i class="fa fa-floppy-o" aria-hidden="true"></i></button>
            </div>
            <div class="col-xs-2">
                <button id="undo" type="button" class="btn btn-success form-control">{% trans 'Desfer canvis' %} <i class="fa fa-undo" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
    <div id="errors_panel" class="container" style="display:none;">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">{% trans 'Hi ha alguns errors' %}</h3>
            </div>
            <div class="panel-body">
                <ul id="errors"></ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div id="menuitems"></div>
        </div>
    </div>
</main>
{% endblock %}
{% block extra_js %}
<script>
    var _create_link_url = "{% url 'create_menu_link' %}";
    var _data_url = "{% url 'menuitems-list' %}";
    var _data_save_url = "{% url 'save_menu_links' %}";
    {% get_current_language as LANGUAGE_CODE %}
    var locale = '{{ LANGUAGE_CODE }}';
</script>
<script src="{% static 'georef/javascript/cookies.js' %}?{{ revision }}"></script>
<script src="{% static 'georef/javascript/csrf_utils.js' %}?{{ revision }}"></script>
<script src="{% static 'georef/javascript/tabulator/js/tabulator.js' %}?{{ revision }}"></script>
<script src="{% static 'georef/javascript/menu_edit.js' %}?{{ revision }}"></script>
{% endblock %}
